/* [data-bs-theme="blue"] {
  color: white; /* General text color */
  background-color: #672f63; /* Bootstrap's primary blue color */
}

[data-bs-theme="blue"] .navbar, 
[data-bs-theme="blue"] .dropdown-menu,
[data-bs-theme="blue"] .nav-link,
[data-bs-theme="blue"] .nav-item,
[data-bs-theme="blue"] .navbar-brand,
[data-bs-theme="blue"] .btn {
  background-color: #0d6efd; /* Apply theme to navbar, dropdown, and buttons */
  color: white; /* Ensure the text is visible */
  border:none;
}



[data-bs-theme="blue"] .btn-secondary {
  background-color: #6c757d;
  border-color: rgba(255, 255, 255, .25);
  color: white;
}

[data-bs-theme="blue"] .btn-secondary:hover {
  background-color: #5a6268;
  border-color: rgba(255, 255, 255, .25);
  border:none;
}

[data-bs-theme="blue"] .nav-link.active {
  background-color: #d8e3eb; /* Background color for active nav-link */
  color: white ; /* Text color for active nav-link */
  border-color: rgba(198, 11, 11, 0.25); /* Border color for active nav-link */
} */